__pycache__/

/*.ipynb


PhD Seminars/*/*.aux
PhD Seminars/*/*.fdb_latexmk
PhD Seminars/*/*.fls
PhD Seminars/*/*.log
PhD Seminars/*/*.synctex.gz
PhD Seminars/*/*.out
PhD Seminars/*/*.tex

requirements.txt
